<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>ADMIN</title>
<body>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:adminTabChange('1');" class="nav-link">사용자관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:adminTabChange('2');" class="nav-link">권한관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:adminTabChange('3');" class="nav-link">리소스관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">ADMIN MAIN PAGE</h5>
        </div>
    </div>
</div>
</body>
</html>