<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>COMPANY INFO</title>
<body>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link active">기업정보</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:companyTabChange('2');" class="nav-link">공고관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <th:block th:if="${company.id != null}">
                <table class="table">
                    <h3>기업정보</h3>
                    <thead>
                    <tr>
                        <th scope="col" colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">회사명</th>
                        <td>
                            <input type="text" class="form-control" th:value="${company.company}"  readonly>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">기업 홈페이지</th>
                        <td>
                            <input type="text" th:value="${company.site_url}" class="form-control" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">기업 복지</th>
                        <td>
                            <input type="text" th:value="${company.welfare}" class="form-control" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">웰컴 키트</th>
                        <td>
                            <input type="text" th:value="${company.kit}" class="form-control" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">재직인원</th>
                        <td>
                            <input type="text" th:value="${company.personnel}" class="form-control" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">평균 연봉</th>
                        <td>
                            <input type="text" th:value="${company.salary}" class="form-control" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">주소</th>
                        <td>
                            <input type="text" th:value="${company.address_postcode}" placeholder="우편번호" class="form-control" style="width: 49%; float:left; margin-bottom: 5px; margin-right: 5px;" readonly>
                            <input type="text" th:value="${company.address}" placeholder="주소" class="form-control" style="margin-bottom: 5px;" readonly>
                            <input type="text" th:value="${company.address_detailAddress}" placeholder="상세주소" class="form-control" style="width: 49.5%; float: left; margin-right: 5px;" readonly>
                            <input type="text" th:value="${company.address_extraAddress}" placeholder="참고항목" class="form-control" style="width: 49.7%; float: left;" readonly>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-warning" th:href="@{'/co/modify/'+${company.id}}">수정</a>
                <form th:action="@{'/co/delete/'+${company.id}}" method="post" style="float:left;">
                    <input type="submit" value="삭제" class="btn btn-outline-danger">
                </form>
            </th:block>
            <th:block th:if="${company.id == null}">
                <a class="btn btn-dark" th:href="@{/co/register}">회사등록</a>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>