<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="bg">
        <div class="container">
            <div class="card-body">
                <h3>기업등록</h3><br />
                <form name="fm" th:action="@{/co/register}" method="POST" th:object="${company}">
                    <input th:type="hidden" name="id" th:value="*{id}" />
                    <span>회사명</span>
                    <input type="text" name="company" th:value="*{company}" placeholder="회사명" class="form-control"><br />
                    <span>기업 홈페이지</span>
                    <input type="text" name="site_url" id="site_url" th:value="*{site_url}" placeholder="홈페이지 주소" class="form-control"><br />
                    <span>기업 복지</span>
                    <input type="text" name="welfare" id="welfare" th:value="*{welfare}" placeholder="복지내용" class="form-control"><br />
                    <span>웰컴 키트</span>
                    <input type="text" name="kit" id="kit" th:value="*{kit}" placeholder="입사시 키트" class="form-control"><br />
                    <span>재직인원</span>
                    <input type="text" name="personnel" id="personnel" th:value="*{personnel}" placeholder="재직인원" class="form-control"><br />
                    <span>평균 연봉</span>
                    <input type="text" name="salary" id="salary" th:value="*{salary}" placeholder="평균 연봉" class="form-control"><br />
                    <span>주소</span>
                    <input type="text" name="address" id="address" th:value="*{address}" placeholder="주소" class="form-control"><br />

                    <span>개인정보 동의 &nbsp;</span><input type="checkbox"><br /><br />
                    <input type="submit" value="등록하기" class="btn btn-success">
                </form>
            </div>
            <br />
            <a th:href="@{'/co/main'}">취소</a>
        </div>
    </div>
</div>
</body>
</html>