<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d78bec2fc2c20f29a60a2998d989650b&libraries=services"></script>
<script th:src="@{/js/task/detail.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 th:text="${task.company.company}"></h5>
            <button type="button" onclick="javascript:viewMap('homepage')" class="btn btn-secondary btn-sm">홈페이지</button>
            <button type="button" onclick="javascript:viewMap('map')" class="btn btn-secondary btn-sm">기업위치</button>
            <input type="hidden" th:value="${task.company.site_url}" id="url">
            <input type="hidden" th:value="${task.company.address}" id="address">
            <input type="hidden" th:value="${task.company.company}" id="company">
        </div>
        <div class="card-body">
            <h3 th:text="${task.task_title}"></h3>
            <th:block th:each="taskDetail, num:${task.taskDetails}">
                <table class="table">
                    <thead style="border-top: white;border-left: white;border-right: white;">
                        <tr scope="col">
                            <th colspan="2">
                                <span th:text="'TASK # '+${taskDetail.task_subject}" style="font-size: 25px;"></span>
                                <span th:text="'(지원인원 : '+${taskDetail.taskSupports.size()}+')'" style="color: gray;"></span>
                            </th>
                            <th>
                                <button type="button"  class="btn btn-secondary" style="float:right;"
                                        sec:authorize="hasAuthority('ROLE_DEV')"
                                        th:id="${taskDetail.id}" th:value="supported"
                                        onclick="javascript:taskSupport(this.value, this.id);"
                                        th:if="*{supportUser.get(num.index) != 'notSupport'}">지원완료
                                </button>
                                <button type="button"  class="btn btn-success" style="float:right;"
                                        sec:authorize="hasAuthority('ROLE_DEV')"
                                        th:id="${taskDetail.id}" th:value="${taskDetail.task_subject}"
                                        onclick="javascript:taskSupport(this.value, this.id);"
                                        th:if="*{supportUser.get(num.index) == 'notSupport'}">지원하기
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 15%;">과제분야</th>
                            <td th:text="${taskDetail.task_part}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">모집인원</th>
                            <td th:text="${taskDetail.task_part_personnel}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">과제 소요 기간</th>
                            <td th:text="${taskDetail.tasking_day}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">과제 마감 기간</th>
                            <td th:text="${task.task_dead_day}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">주요스킬</th>
                            <td th:text="${taskDetail.task_need_skill}" colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </th:block>
            <br />
            <a th:href="@{'/task/list'}">목록</a>
        </div>
    </div>
</div>
</body>
</html>