<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="bg">
        <div class="container sign_container">
            <div class="card sign_card">
                <div class="card-body">
                    <div id="join_form">
                        <h3>과제</h3><br />
                        <span>제목</span>
                        <input type="text" name="task_subject" th:value="${task.task_subject}" readonly class="form-control"><br />
                        <!--
                        <span>모집 분야</span>
                        <input type="text" name="task_parts" th:value="${task.task_parts}" readonly class="form-control"><br />
                        <span>분야별 모집 인원</span>
                        <input type="text" name="task_part_personnel" th:value="${task.task_part_personnel}" readonly class="form-control"><br />
                        <span>과제 진행기간</span>
                        <input type="text" name="tasking_day" th:value="${task.tasking_day}" readonly class="form-control"><br />
                        <span>상세 기술</span>
                        <input type="text" name="task_skill_content" th:value="${task.task_skill_content}" readonly class="form-control"><br />
                        -->
                        <span>마감일</span>
                        <input type="text" name="task_dead_day" th:value="${task.task_dead_day}" readonly class="form-control"><br />
                    </div>
                    <br />
                    <a th:href="@{'/task/list'}">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>