<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="bg">
        <div class="container sign_container">
            <div class="card sign_card">
                <div class="card-body">
                    <div id="join_form">
                        <h3>과제</h3><br />
                        <th:block th:each="tasks, num:${tasks}">
                            <span>제목</span>
                            <span th:text="${tasks.task_title}"></span>
                            <th:block th:each="taskDetails, num:${tasks.getTaskDetails()}">
                                <table class="table table-bordered">
                                    <thead style="border-top: white;border-left: white;border-right: white;">
                                        <tr scope="col" colspan="3">
                                            <th><span th:text="'TASK #'+${num.count}+' '+${taskDetails.task_subject}"></span></th>
                                        </tr>
                                    </thead>
                                    <thead class="table-light" style="text-align: center;">
                                        <tr>
                                            <th scope="col">과제분야</th>
                                            <th scope="col">모집인원</th>
                                            <th scope="col">과제 진행 기간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 69%;">
                                                <div class="card">
                                                    <div class="card-body" th:text="${taskDetails.task_part}">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 15%;">
                                                <div class="card">
                                                    <div class="card-body" th:text="${taskDetails.task_part_personnel}">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 15%;">
                                                <div class="card">
                                                    <div class="card-body" th:text="${taskDetails.tasking_day}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <thead class="table-light" style="text-align: center;">
                                        <tr>
                                            <th scope="col" colspan="3">주요스킬</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <div class="card">
                                                    <div class="card-body" th:text="${taskDetails.task_need_skill}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </th:block>
                            <span>마감일</span>
                            <span th:text="${tasks.task_dead_day}"></span>
                        </th:block>
                    </div>
                    <br />
                    <a th:href="@{'/task/list'}">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>