<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div style="padding-top:50px;"  class="col">
        <div class="container text-center">
            <h1><span th:text="${username}" class="alert alert-danger" />님은 접근 권한이 없습니다.</h1>
            <br />
            <h3 th:text="${exception}"></h3>
        </div>
    </div>
</div>
</body>
</html>