<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="bg">
        <div class="container sign_container">
            <div class="card sign_card">
                <div class="card-body">
                    <h3>과제</h3><br />
                    <span>제목</span>
                    <span th:text="${toy.toy_title}"></span>
                    <span>내용</span>
                    <textarea class="form-control" name="toy_content" th:text="${toy.toy_content}" style="height: 150px;"></textarea>
                    <th:block th:each="toyDetail, num:${toy.toyDetails}">
                        <table class="table table-bordered">
                            <thead style="border-top: white;border-left: white;border-right: white;">
                            <tr scope="col" colspan="3">
                                <th><span th:text="'TASK #'+${num.count}+' '+${toyDetail.toy_subject}"></span></th>
                            </tr>
                            </thead>
                            <thead class="table-light" style="text-align: center;">
                            <tr>
                                <th scope="col">과제분야</th>
                                <th scope="col">모집인원</th>
                                <th scope="col">과제 진행 기간</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 69%;">
                                    <div class="card">
                                        <div class="card-body" th:text="${toyDetail.toy_part}">
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 15%;">
                                    <div class="card">
                                        <div class="card-body" th:text="${toyDetail.toy_part_personnel}">
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 15%;">
                                    <div class="card">
                                        <div class="card-body" th:text="${toyDetail.toying_day}">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <thead class="table-light" style="text-align: center;">
                            <tr>
                                <th scope="col" colspan="3">주요스킬</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3">
                                    <div class="card">
                                        <div class="card-body" th:text="${toyDetail.toy_need_skill}">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>
                    <span>마감일</span>
                    <span th:text="${toy.toy_dead_day}"></span>
                    <br />
                    <a class="btn btn-dark btn-lg" th:href="@{'/dev/toy/modify/'+${toy.id}}">수정</a>
                    <form  th:action="@{'/dev/toy/delete/'+${toy.id}}" method="post" style="float:left;">
                        <input type="submit" value="삭제" class="btn btn-dark btn-lg">
                    </form>
                    <a th:href="@{'/dev/toy/main'}">취소</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>