<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>USER TOY PROJECT</title>
<body>
<script>
    function move(value) {
        location.href="/dev/toy/detail/"+value;
    }
</script>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:devTabChange('1');" class="nav-link">포트폴리오</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link active">토이프로젝트 관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:devTabChange('3');" class="nav-link">지원 관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <th:block th:if="${toys != null}">
            <a class="btn btn-success" th:href="@{/dev/toy/register}" style="float:left;">프로젝트 생성</a>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">과제분야</th>
                    <th scope="col">마감기간</th>
                    <th scope="col">지원현황</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${not #lists.isEmpty(toys)}" th:each="toy, num:${toys}">
                    <tr th:onclick="'javascript:move('+${toy.id}+');'" style="cursor:pointer;">
                        <th scope="row"><span th:text="${num.count}"></span></th>
                        <td><span th:text="${toy.toy_title}"></span></td>
                        <td>
                            <th:block th:each="toyDetail, num:${toy.toyDetails}">
                                <span th:text="${toyDetail.toy_subject}"></span><br />
                            </th:block>
                        </td>
                        <td>
                            <span th:text="${toy.toy_dead_day}"></span><br />
                            <span th:if="${toy.toy_status == 0}">마감됨</span>
                            <span th:if="${toy.toy_status == 1}">진행중</span>
                        </td>
                        <td onclick="event.cancelBubble=true">
                            <a class="btn btn-success" th:href="@{'/dev/toy/support/'+${toy.id}}"> 지원자 보기</a>
                        </td>
                    </tr>
                </th:block>
                <th:block th:unless="${not #lists.isEmpty(toys)}">
                    <tr>
                        <td colspan="5">
                            조회된 결과값이 없습니다.
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            </th:block>
            <th:block th:if="${toys == null}">
                <a class="btn btn-dark" th:href="@{/dev/register}">포트폴리오 등록</a>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>