<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    개발자 전용 페이지<br /><br /><br /><br />
    <a th:if="${dev == null}" class="btn btn-dark btn-lg" th:href="@{/dev/register}">포폴 작성</a>
    <a th:if="${dev != null}" th:href="@{'/dev/detail/'+${dev.id}}">
        포폴 : <span th:text="${dev.title}"></span>
    </a><br />
    <a th:href="@{/dev/task/support}">
        공고지원현황
    </a>
</div>
</body>
</html>