<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="bg">
        <div class="container sign_container">
            <div class="card sign_card">
                <div class="card-body">
                    <div id="join_form">
                        <h3>포트폴리오 등록</h3><br />
                        <form name="fm" th:action="@{/dev/register}" method="POST" th:object="${dev}">
                            <input th:type="hidden" name="id" th:value="*{id}" />
                            <span>제목</span>
                            <input type="text" name="title" th:value="*{title}" placeholder="포트폴리오 제목" class="form-control"><br />
                            <span>사용 가능 기술</span>
                            <textarea class="form-control" name="useSkill" th:text="*{useSkill}" placeholder="사용가능 기술" style="height: 150px;"></textarea>
                            <span>사이트주소1</span>
                            <input type="text" name="url_1" id="url_1" th:value="*{url_1}" placeholder="포폴 주소" class="form-control"><br />
                            <span>사이트주소2</span>
                            <input type="text" name="url_2" id="url_2" th:value="*{url_2}" placeholder="포폴 주소" class="form-control"><br />
                            <span>사이트주소3</span>
                            <input type="text" name="url_3" id="url_3" th:value="*{url_3}" placeholder="포폴 주소" class="form-control"><br />
                            <input type="submit" value="등록하기" class="btn btn-success">
                        </form>
                    </div>
                    <br />
                    <a th:href="@{'/dev/main'}">취소</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>