<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>지원현황</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <th:block th:each="support, num:${taskSupport}">
                <h5 class="card-title" style="margin-top: 50px;" th:text="${support.taskDetail.task_subject}"></h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">지원분야</th>
                        <th scope="col">진행기간</th>
                        <th scope="col">과제 상세보기</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><span th:text="*{num.count}"></span></th>
                            <td><span th:text="*{support.taskDetail.task_subject}"></span></td>
                            <td><span th:text="*{support.taskDetail.tasking_day}"></span></td>
                            <td><a class="btn btn-warning" th:href="@{'/task/detail/'+${support.taskDetail.task.id}}">공고보기</a></td>
                        </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>