<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>USER SUPPORT</title>
<body>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <h1 class="text-primary">USER - SUPPORT</h1>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:devTabChange('1');" class="nav-link">포트폴리오</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:devTabChange('2');" class="nav-link">토이프로젝트 관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link active">지원 관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">기업 지원</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">기업이름</th>
                    <th scope="col">지원분야</th>
                    <th scope="col">지원상태</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="taskSupport, num:*{taskSupports}">
                <tr>
                    <th scope="row"><span th:text="*{num.count}"></span></th>
                    <td><span th:text="*{taskSupport.taskDetail.task.company.company}"></span></td>
                    <td><span th:text="*{taskSupport.taskDetail.task_subject}"></span></td>
                    <td>
                        <span th:if="*{taskSupport.support_status == 1}" th:text="진행중"></span>
                        <span th:if="*{taskSupport.support_status == 0}" th:text="확인중"></span>
                    </td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <div class="card-body">
            <h5 class="card-title">토이프로젝트 지원</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">프로젝트 제목</th>
                    <th scope="col">지원분야</th>
                    <th scope="col">지원상태</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="toySupport, num:*{toySupports}">
                <tr>
                    <th scope="row"><span th:text="*{num.count}"></span></th>
                    <td><span th:text="*{toySupport.toyDetail.toy.toy_title}"></span></td>
                    <td><span th:text="*{toySupport.toyDetail.toy_subject}"></span></td>
                    <td>
                        <span th:if="*{toySupport.support_status == 1}" th:text="진행중"></span>
                        <span th:if="*{toySupport.support_status == 0}" th:text="확인중"></span>
                    </td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>