<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>ADMIN RESOURCE</title>
<body>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:adminTabChange('1');" class="nav-link">사용자관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:adminTabChange('2');" class="nav-link">권한관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link active">리소스관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form class="form-horizontal" th:action="@{/hide/admin/resource}" method="post" th:object="${resources}">
                <input th:type="hidden" name="id" th:value="*{id}"/>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">리소스 정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">리소스명</th>
                            <td>
                                <input type="text" class="form-control input-large" name="resourceName" id="resourceName"
                                       placeholder="리소스명" th:value="*{resourceName}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">리소스 타입</th>
                            <td>
                                <input type="text" class="form-control input-large" name="resourceType" id="resourceType"
                                       placeholder="리소스타입" th:value="*{resourceType}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HttpMethod</th>
                            <td>
                                <input type="text" class="form-control input-large" name="httpMethod" id="httpMethod"
                                       placeholder="HttpMethod" th:value="*{httpMethod}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">순서</th>
                            <td>
                                <input type="text" class="form-control input-large" name="orderNum" id="orderNum" placeholder="순서"
                                       th:value="*{orderNum}">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="Submit" class="btn btn-dark btn-lg">등록</button>
                <a class="btn btn-dark btn-lg" th:href="@{/hide/admin/resource}">목록 </a>
                <a class="btn btn-dark btn-lg" th:href="@{'/hide/admin/resource/delete/' + *{id}}">삭제</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>