<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>ADMIN RESOURCE</title>
<body>
<script>
    function move(value) {
        location.href="/hide/admin/resource/"+value;
    }
</script>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:adminTabChange('1');" class="nav-link">사용자관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:adminTabChange('2');" class="nav-link">권한관리</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link active">리소스관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">리소스 명</th>
                    <th scope="col">리소스 타</th>
                    <th scope="col">HttpMethod</th>
                    <th scope="col">순서</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="resource : ${resources}">
                    <tr th:onclick="'javascript:move('+${resource.id}+');'" style="cursor:pointer;">
                        <td scope="row" th:text="${resource.resourceName}"></td>
                        <td scope="row" th:text="${resource.resourceType}"></td>
                        <td scope="row" th:text="${resource.httpMethod}"></td>
                        <td scope="row" th:text="${resource.orderNum}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <a class="btn btn-dark btn-lg" th:href="@{/hide/admin/resource/register}">리소드 등록</a>
        </div>
    </div>
</div>
</body>
</html>