<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<script>
    function moveTask(value) {
        location.href="/task/detail/"+value;
    }
    function moveToy(value) {
        location.href="/toy/detail/"+value;
    }
</script>
<div class="container">
    <div class="container" style="float: left;margin-top:20px;margin-bottom: 20px;">
        <h2>인기 과제</h2>
        <div>
            <th:block th:each="task, num:${tasks}">
            <div class="card text-dark bg-light mb-3" style="width:22%; height:230px; float: left; margin-right: 10px;">
                <div class="card-header">
                    <span th:text="${task.company.company}" style="font-size: 20px;"></span>
                    <div style="float: right;bottom: 0;">
                        <span th:if="${task.task_status == 0}">마감됨</span>
                        <span th:if="${task.task_status == 1}">진행중</span>
                    </div>
                </div>
                <div class="card-body">
                    <th:block th:each="taskDetail, num:${task.taskDetails}">
                        <p class="card-title" th:text="${taskDetail.task_subject}+'('+${taskDetail.taskSupports.size}+'/'+${taskDetail.task_part_personnel}+'명 지원)'"></p>
                    </th:block>
                </div>
                <button type="button" class="btn btn-outline-success btn-sm " th:onclick="'javascript:moveTask('+${task.id}+');'">상세보기</button>
            </div>
            </th:block>
        </div>
    </div>

    <div class="container" style="float: left;">
        <h2>토이 프로젝트</h2>
        <div>
            <th:block th:each="toy, num:${toys}">
                <div class="card text-dark bg-light mb-3" style="width:22%; height:230px; float: left; margin-right: 10px;">
                    <div class="card-header">
                        <span th:text="${toy.toy_title}" style="font-size: 20px;"></span>
                        <div style="float: right;bottom: 0;">
                            <span th:if="${toy.toy_status == 0}">마감됨</span>
                            <span th:if="${toy.toy_status == 1}">진행중</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <th:block th:each="toyDetail, num:${toy.toyDetails}">
                            <p class="card-title" th:text="${toyDetail.toy_subject}+'('+${toyDetail.toySupports.size}+'/'+${toyDetail.toy_part_personnel}+'명 지원)'"></p>
                        </th:block>
                    </div>
                    <button type="button" class="btn btn-outline-success btn-sm " th:onclick="'javascript:moveToy('+${toy.id}+');'">상세보기</button>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>