<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<script th:src="@{/js/company/companyRegister.js}"></script>
<link rel="stylesheet" th:href="@{/css/company/register.css}"/>
<div th:replace="fragments/nav::nav"></div>

<div class="container">
    <div class="bg">
        <div class="container sign_container">
            <div class="card sign_card">
                <div class="card-body">
                    <div id="join_form">
                        <h3>과제등록</h3><br />
                        <div th:object="${task}">
                            <input th:type="hidden" name="id" id="id" th:value="*{id}" />
                            <span>제목</span>
                            <input type="text" name="task_title" id="task_title" th:value="*{task_title}" placeholder="제목" class="form-control"><br />
                            <span>분야선택</span>
                            <div class="card">
                                <div class="card-body">
                                    <input type="button" class="btn btn-success btn-sm choice" value="백엔드/서버개발" id="back"
                                            onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="프론트엔드" id="front"
                                            onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="앱개발(Android)" id="android", name="android"
                                            onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="앱개발(ios)" id="ios"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="퍼블리셔" id="publisher"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="디자이너" id="design"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="게임개발" id="game"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="웹개발" id="web"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="데이터엔지니어" id="dba"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="머신러닝" id="machine"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="딥러닝" id="deep"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="빅데이터" id="bigdata"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="정보보안" id="security"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                    <input type="button" class="btn btn-success btn-sm choice" value="블록체인" id="blockchain"
                                           onclick="javascript:addTaskDetail(this.value, this.id);">
                                </div>
                            </div>
                            <div id="tablePoint"></div>
                            <span>마감일</span>
                            <input type="text" name="task_dead_day" id="task_dead_day" th:value="*{task_dead_day}" style="width: 35%;"
                                   placeholder="마감일" class="form-control" readonly><br />
                            <input type="submit" onclick="javascript:saveTask();" value="발행하기" class="btn btn-success">
                            <input type="submit" onclick="javascript:ajaxTest();" value="테스트" class="btn btn-success">
                        </div>
                    </div>
                    <br />
                    <a th:href="@{'/co/task/list'}">취소</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script  th:inline="javascript">
    let tableList = new Array();
    let taskMap = {};
    let dataMap = {};
    /*<![CDATA[*/
    /*[# th:each="taskDetails : ${task.getTaskDetails}"]*/
    var td_id = /*[[${taskDetails.id}]]*/;
    var btn_id = /*[[${taskDetails.task_btn_id}]]*/;
    var task_subject = /*[[${taskDetails.task_subject}]]*/;
    var task_part = /*[[${taskDetails.task_part}]]*/;
    var task_part_personnel = /*[[${taskDetails.task_part_personnel}]]*/;
    var tasking_day = /*[[${taskDetails.tasking_day}]]*/;
    var task_need_skill = /*[[${taskDetails.task_need_skill}]]*/;
    document.getElementById(btn_id).style.display = 'none';
    var table = btn_id+"Table";
    var changeId = JSON.stringify(btn_id);
    tableList.push(table); // 추가된 테이블이름 리스트에 추가
    var html = '';
    html += '<div id="'+btn_id+'Table" value="test11123123123">';
    html += '<table class="table table-bordered" >';
    html += '<input type="hidden" name="td_id" id="td_id" value="'+td_id+'">';
    html += '<input type="hidden" name="task_btn_id" id="task_btn_id" value="'+btn_id+'">';
    html += '<input type="hidden" name="task_subject" id="task_subject" value="'+task_subject+'">';
    html += '<thead style="border-top: white;border-left: white;border-right: white;">';
    html += '<tr>';
    html += '<th scope="col" colSpan="2">TASK #'+task_subject+'</th>';
    html += '<th>';
    html += '<input onClick='+"javascript:removeTable("+changeId+");"+' type="button" class="btn btn-danger btn-sm" style="float:right;" value="삭제" />';
    html += '</th>';
    html += '</tr>';
    html += '</thead>';
    html += '<thead class="table-light" style="text-align: center;">';
    html += '<tr>';
    html += '<th scope="col">과제분야</th>';
    html += '<th scope="col">모집인원</th>';
    html += '<th scope="col">과제 진행 기간</th>';
    html += '</tr>';
    html += '</thead>';
    html += '<tbody>';
    html += '<tr>';
    html += '<td>';
    html += '<input type="text" name="task_part" class="form-control" value="'+task_part+'">';
    html += '</td>';
    html += '<td>';
    html += '<input type="text" name="task_part_personnel" class="form-control" value="'+task_part_personnel+'">';
    html += '</td>';
    html += '<td>';
    html += '<input type="text" name="tasking_day" class="form-control" value="'+tasking_day+'">';
    html += '</td>';
    html += '</tr>';
    html += '</tbody>';
    html += '<thead class="table-light" style="text-align: center;">';
    html += '<tr>';
    html += '<th scope="col" colSpan="3">주요스킬</th>';
    html += '</tr>';
    html += '</thead>';
    html += '<tbody>';
    html += '<tr>';
    html += '<td colSpan="3">';
    html += '<textarea class="form-control" name="task_need_skill" style="height: 150px;">'+task_need_skill+'</textarea>';
    html += '</td>';
    html += '</tr>';
    html += '</tbody>';
    html += '</table>';
    html += '</div>';
    $("#tablePoint").prepend(html);
    /*[/]*/
    /*]]>*/
</script>
</body>
</html>


<!-- table
<table class="table table-bordered">
    <thead style="border-top: white;border-left: white;border-right: white;">
        <tr scope="col" colspan="2">
            <th>TASK #1</th>
            <th>
                <input type="button" class="btn btn-success btn-sm choice" style="float: right;" value="삭제"
            onclick="javascript:removeTable();">
            </th>
        </tr>

    </thead>
    <thead class="table-light" style="text-align: center;">
        <tr>
            <th scope="col">과제분야</th>
            <th scope="col">모집인원</th>
            <th scope="col">과제 진행 기간</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="예)백엔드, 프론트엔드">
            </td>
            <td>
                <input type="text" class="form-control" placeholder="숫자만 입력">
            </td>
            <td>
                <input type="text" class="form-control" placeholder="day 기준">
            </td>
            </tr>
    </tbody>
    <thead class="table-light" style="text-align: center;">
        <tr>
            <th scope="col" colspan="3">주요스킬</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">
                <textarea class="form-control" style="height: 150px;" placeholder="과제에 필요한 기능 및 기술을 상세히 기입해주세요."></textarea>
            </td>
        </tr>
    </tbody>
</table>



<th:block th:if="${task}" th:each="taskDetails, num:${task.getTaskDetails}">
    <table class="table table-bordered">
        <input type="hidden" name="task_subject" id="task_subject" th:value="${taskDetails.task_subject}">
        <thead style="border-top: white;border-left: white;border-right: white;">
        <tr scope="col">
            <th colspan="2"><span th:text="'TASK #'+${num.count}+' '+${taskDetails.task_subject}"></span></th>
            <th>
                <input onClick='' type="button" class="btn btn-danger btn-sm" value="삭제" style="float:right;"/>
            </th>
        </tr>
        </thead>
        <thead class="table-light" style="text-align: center;">
        <tr>
            <th scope="col">과제분야</th>
            <th scope="col">모집인원</th>
            <th scope="col">과제 진행 기간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 69%;">
                <div class="card">
                    <input type="text" name="task_part" th:value="${taskDetails.task_part}" class="form-control">
                </div>
            </td>
            <td style="width: 15%;">
                <div class="card">
                    <input type="text" name="task_part_personnel" th:value="${taskDetails.task_part_personnel}" class="form-control">
                </div>
            </td>
            <td style="width: 15%;">
                <div class="card">
                    <input type="text" name="tasking_day" th:value="${taskDetails.tasking_day}" class="form-control">
                </div>
            </td>
        </tr>
        </tbody>
        <thead class="table-light" style="text-align: center;">
        <tr>
            <th scope="col" colspan="3">주요스킬</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3">
                <div class="card">
                    <textarea class="form-control" name="task_need_skill" style="height: 150px;" th:text="${taskDetails.task_need_skill}">qwe123</textarea>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
-->