<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>TASK REGISTER</title>
<body>
<script th:src="@{/js/company/taskRegister.js}"></script>
<link rel="stylesheet" th:href="@{/css/company/register.css}"/>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:companyTabChange('1');" class="nav-link">기업정보</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link active">공고관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div th:object="${task}">
                <input th:type="hidden" name="id" id="id" th:value="*{id}" />
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">
                                <h3>과제 등록</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">제목</th>
                            <td>
                                <input type="text" name="task_title" id="task_title" th:value="*{task_title}" placeholder="제목" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">마감일</th>
                            <td>
                                <input type="text" name="task_dead_day" id="task_dead_day" th:value="*{task_dead_day}" style="width: 35%;"
                                       placeholder="마감일" class="form-control" readonly>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">분야선택</h5>
                        <input type="button" class="btn btn-success btn-sm choice" value="백엔드/서버개발" id="back"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="프론트엔드" id="front"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="앱개발(Android)" id="android", name="android"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="앱개발(ios)" id="ios"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="퍼블리셔" id="publisher"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="디자이너" id="design"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="게임개발" id="game"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="웹개발" id="web"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="데이터엔지니어" id="dba"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="머신러닝" id="machine"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="딥러닝" id="deep"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="빅데이터" id="bigdata"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="정보보안" id="security"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                        <input type="button" class="btn btn-success btn-sm choice" value="블록체인" id="blockchain"
                               onclick="javascript:addTaskDetail(this.value, this.id);">
                    </div>
                </div>
                <div id="tablePoint"></div>
                <div style="margin-top: 10px;">
                    <input type="button" onclick="javascript:saveTask();" value="발행하기" class="btn btn-success">
                    <a class="btn btn-dark" th:href="@{'/co/task/main'}">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script  th:inline="javascript">
    let taskTableList = new Array();

    /*<![CDATA[*/
    /*[# th:each="taskDetail : ${task.getTaskDetails}"]*/
    var td_id = /*[[${taskDetail.id}]]*/;
    var task_subject = /*[[${taskDetail.task_subject}]]*/;
    var task_part = /*[[${taskDetail.task_part}]]*/;
    var task_part_personnel = /*[[${taskDetail.task_part_personnel}]]*/;
    var tasking_day = /*[[${taskDetail.tasking_day}]]*/;
    var task_need_skill = /*[[${taskDetail.task_need_skill}]]*/;
    var btn_id = /*[[${taskDetail.task_btn_id}]]*/;
    var changeId = JSON.stringify(btn_id);
    document.getElementById(btn_id).style.display = 'none';
    var table = btn_id+"Table";
    taskTableList.unshift(table); // 추가된 테이블이름 리스트에 추가

    var html = '';
    html += '<div id="'+btn_id+'Table" value="test11123123123">';
    html += '<table class="table table-bordered" >';
    html += '<input type="hidden" name="td_id" id="td_id" value="'+td_id+'">';
    html += '<input type="hidden" name="task_btn_id" id="task_btn_id" value="'+btn_id+'">';
    html += '<input type="hidden" name="task_subject" id="task_subject" value="'+task_subject+'">';
    html += '<thead style="border-top: white;border-left: white;border-right: white;">';
    html += '<tr style="text-align: left;">';
    html += '<th scope="col" colSpan="2">TASK # '+task_subject+'</th>';
    html += '<th>';
    html += '<input onClick='+"javascript:removeTaskTable("+changeId+");"+' type="button" class="btn btn-danger btn-sm" style="float:right;" value="삭제" />';
    html += '</th>';
    html += '</tr>';
    html += '</thead>';
    html += '<thead class="table-light" style="text-align: center;">';
    html += '<tr>';
    html += '<th scope="col">과제분야</th>';
    html += '<th scope="col">모집인원</th>';
    html += '<th scope="col">과제 진행 기간</th>';
    html += '</tr>';
    html += '</thead>';
    html += '<tbody>';
    html += '<tr>';
    html += '<td>';
    html += '<input type="text" name="task_part" class="form-control" value="'+task_part+'">';
    html += '</td>';
    html += '<td>';
    html += '<input type="text" name="task_part_personnel" class="form-control" value="'+task_part_personnel+'">';
    html += '</td>';
    html += '<td>';
    html += '<input type="text" name="tasking_day" class="form-control" value="'+tasking_day+'">';
    html += '</td>';
    html += '</tr>';
    html += '</tbody>';
    html += '<thead class="table-light" style="text-align: center;">';
    html += '<tr>';
    html += '<th scope="col" colSpan="3">주요스킬</th>';
    html += '</tr>';
    html += '</thead>';
    html += '<tbody>';
    html += '<tr>';
    html += '<td colSpan="3">';
    html += '<textarea class="form-control" name="task_need_skill" style="height: 300px;">'+task_need_skill+'</textarea>';
    html += '</td>';
    html += '</tr>';
    html += '</tbody>';
    html += '</table>';
    html += '</div>';
    $("#tablePoint").prepend(html);
    /*[/]*/
    /*]]>*/
</script>
</body>
</html>