<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>debTask</title>
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="bg">
        <div class="container sign_container">
            <div class="card sign_card">
                <div class="card-body">
                    <div id="join_form">
                        <h3>과제등록</h3><br />
                        <form name="fm" th:action="@{/co/task/register}" method="POST" th:object="${task}">
                            <input th:type="hidden" name="id" th:value="*{id}" />
                            <span>제목</span>
                            <input type="text" name="task_subject" th:value="*{task_subject}" placeholder="제목" class="form-control"><br />
                            <span>모집 분야</span>
                            <input type="text" name="task_parts" th:value="*{task_parts}" placeholder="모집 분야" class="form-control"><br />
                            <span>분야별 모집 인원</span>
                            <input type="text" name="task_part_personnel" th:value="*{task_part_personnel}" placeholder="모집 인원" class="form-control"><br />
                            <span>과제 진행기간</span>
                            <input type="text" name="tasking_day" th:value="*{tasking_day}" placeholder="과제 진행기간" class="form-control"><br />
                            <span>상세 기술</span>
                            <input type="text" name="task_skill_content" th:value="*{task_skill_content}" placeholder="상세 기술" class="form-control"><br />
                            <span>마감일</span>
                            <input type="text" name="task_dead_day" th:value="*{task_dead_day}" placeholder="마감일" class="form-control"><br />

                            <input type="submit" value="발행하기" class="btn btn-success">
                        </form>
                    </div>
                    <br />
                    <a th:href="@{'/co/task/list'}">취소</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>