<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<title>TASK SUPPORT</title>
<body>
<script th:src="@{/js/company/support.js}"></script>
<script th:src="@{/js/common/tab.js}"></script>
<div th:replace="fragments/nav::nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!--// on : 현재 위치 //-->
                <li class="nav-item">
                    <a href="javascript:companyTabChange('1');" class="nav-link">기업정보</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link active">공고관리</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">
                            <h5 th:text="${task.task_title}"></h5>
                        </th>
                    </tr>
                </thead>
            </table>
            <th:block th:each="taskDetail, num:${task.taskDetails}">
                <div style="text-align: left;margin-top: 25px;">
                    <b th:text="'TASK # '+${taskDetail.task_subject}"></b>
                    <span th:text="'(지원인원 : '+${taskDetail.taskSupports.size()}+')'" style="color: gray;"></span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">지원자이름</th>
                            <th scope="col">지원자 프로필 보기</th>
                            <th scope="col">과제 요청</th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${not #lists.isEmpty(taskDetail.taskSupports)}" th:each="taskSupport, num:*{taskDetail.taskSupports}">
                        <tr>
                            <th scope="row"><span th:text="*{num.count}"></span></th>
                            <td><span th:text="*{taskSupport.member.username}"></span></td>
                            <td><a th:href="@{'/devDetail/'+${taskSupport.member.id}}" class="btn btn-success">프로필</a></td>
                            <td>
                                <input type="hidden" id="member_id" th:value="${taskSupport.member.id}">
                                <input type="hidden" id="td_id" th:value="${taskSupport.taskDetail.id}">
                                <button th:if="${taskSupport.support_status == 0}" th:value="${taskSupport.member.username}" th:id="${taskSupport.id}"
                                        onclick="javascript:taskConfirm(this.value, this.id);"
                                        type="button" class="btn btn-warning">진행 요청</button>
                                <button th:if="${taskSupport.support_status == 1}" type="button" class="btn btn-secondary">진행중</button>
                            </td>
                        </tr>
                    </th:block>
                    <th:block th:unless="${not #lists.isEmpty(taskDetail.taskSupports)}">
                        <tr>
                            <td colspan="4">
                                조회된 결과값이 없습니다.
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </th:block>
            <a class="btn btn-dark" th:href="@{'/co/task/main'}">목록</a>
        </div>
    </div>
</div>
</body>
</html>